<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/264db24f1f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">

<div class="main-header-top-bar">
    <img src="/image/logo-mercado-liebre.svg" class="logo">
    <h2 class="copy-header">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Comprá en cuotas y sin tarjeta de crédito
    </h2>
</div>
<a href="#" class="hamburguer-button">

    <i class="fa-solid fa-bars"></i> 
</a>


<nav class="main-navbar">
<ul class="left-navbar">
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Tiendas Oficiales</a></li>
    <li><a href="#">Vender</a></li>
    <li><a href="#">Ayuda</a></li>
</ul>
<ul class="right-navbar">
    <li><a href="#">Creá tu cuenta</a></li>
    <li><a href="#">Ingresá</a></li>
    <li><a href="#">Mis compras</a></li>  
</ul>

</nav>

    </header>
    <main>
        <section class="home-banner">
                <img class="banner-promo" src="/image/img-home-banner.jpg" alt="banner">
            
        </section>
        <section class="vip-products">
            <h3 class="titulo">Basado en tu última visita</h3>
            <article class="product">
                <img class="photo"  src="/image/img-cafetera-moulinex.jpg" alt="cafetera Moulinex">
                <p>$6.670</p>
                <p>40% off</p>
                <strong>cafetera Moulinex</strong>
            </article>
            <article class="product">
                <img width="100%" src="/image/img-macbook-pro-2019.jpg" alt=macbook-pro-2019"">
                <p>$230.000</p>
                <p>20% off</p>
                <strong>MacBook</strong>
            </article>
            <article class="product">
                <img width="100%" src="/image/img-samsung-galaxy-s10.jpg" alt="cafetera Moulinex">
                <p>$70.500</p>
                <p>10% off</p>
                <strong>samsung galaxy s10</strong>
            </article>
            <article class="product">
                <img width="100%" src="/image/img-tv-samsung-smart.jpg" alt="cafetera Moulinex">
                <p>$23.200</p>
                <p>5% off</p>
                <strong>Smart Tv Samsung</strong>
            </article>
        </section>
        <section class="vip-products">
            <h3 class="titulo">Sección de Ofertas</h3>
            <article class="product">
                <img width="100%"  src="/image/img-cafetera-moulinex.jpg" alt="cafetera Moulinex">
                p>$6.670</p>
                <p>40% off</p>
                <strong>cafetera Moulinex</strong>
            </article>
            <article class="product">
                <img width="100%" src="/image/img-macbook-pro-2019.jpg" alt="MacBook">
                <p>$230.000</p>
                <p>20% off</p>
                <strong>MacBook</strong>
            </article>
            <article class="product">
                <img width="100%" src="/image/img-samsung-galaxy-s10.jpg" alt="galaxy">
                <p>$70.500</p>
                <p>10% off</p>
                <strong>samsung galaxy s10</strong>
            </article>
            <article class="product">
                <img width="100%" src="/image/img-tv-samsung-smart.jpg" alt="sansung">
                <p>$23.200</p>
                <p>5% off</p>
                <strong>Smart Tv Samsung</strong>
            </article>
        </section>

    </main>
    <footer>
        <article>
            <h4>Pagá con tarje o efectivo </h4>
            <p>Con MercadoLiebreCash tenés cuotas 
                sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <h4>Envío gratis desde los $2500 </h4>
            <p>Solo por estar registrado en Mercado Liebre tenés envío gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </article>
        <article>
            <h4>Seguridad de princio a fin </h4>
            <p>¿No te gusta?¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer estás siempre protegi@.</p>
        </article>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>